server:
  port: 8080

spring:
  application:
    name: docx4j
  datasource:
    url: jdbc:mysql://192.168.2.52:3306/hedao_brandinfo?useUnicode=true&characterEncoding=UTF-8&serverTimezone=GMT%2B8&useSSL=false
    username: guohe
    password: guoheroot
  thymeleaf:
    cache: false
  servlet:
    multipart:
      enabled: true
#      location:
      max-file-size: 10485760
      max-request-size: 104857600
#      file-size-threshold: 0
#      resolve-lazily: false

mybatis-plus:
  mapper-locations: classpath*:mapper/*.xml
  type-aliases-package: com.bwin.docx4jdemo.entity
  global-config:
    db-config:
      id-type: ID_WORKER_STR
      column-like: true

logging:
  file: ./logs/${spring.application.name}.log
  level:
    com.bwin.docx4jdemo:
      mapper: DEBUG